Repository kamiazya/web-csv-toolbox: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --no-errors-on-unmatched --apply, cargo fmt --manifest-path web-csv-toolbox-wasm/Cargo.toml, cargo clippy --manifest-path=./web-csv-toolbox-wasm/Cargo.toml --all-targets --all-features

.lintstagedrc.yaml:

'*.{ts,json}':
  - biome check --no-errors-on-unmatched --apply
'*.rs':
  - cargo fmt --manifest-path web-csv-toolbox-wasm/Cargo.toml
  - cargo clippy --manifest-path=./web-csv-toolbox-wasm/Cargo.toml --all-targets --all-features

feat: add OIDC authentication for Codecov bundle analysis (#606)
  .github/workflows/.build.yaml
  .github/workflows/.dynamic-tests.yaml
  .github/workflows/.examples.yaml
  .github/workflows/main.yaml
  examples/vite-bundle-main/vite.config.ts
  examples/vite-bundle-slim/vite.config.ts
  examples/vite-bundle-worker-main/vite.config.ts
  examples/vite-bundle-worker-slim/vite.config.ts
  examples/webpack-bundle-worker-main/webpack.config.js
  examples/webpack-bundle-worker-slim/webpack.config.js
  vite.config.ts
Due: biome check --no-errors-on-unmatched --apply

chore: disable sourcemap generation to reduce package size (#605)
  pnpm-lock.yaml
  vite.config.ts
  vite.config.worker-bundle.ts
Due: biome check --no-errors-on-unmatched --apply

refactor: use ByteLengthQueuingStrategy and centralize backpressure check intervals
  src/core/constants.ts
  src/parser/models/base/BaseStringCSVParser.ts
  src/parser/stream/BinaryCSVParserStream.ts
  src/parser/stream/CSVLexerTransformer.ts
  src/parser/stream/CSVRecordAssemblerTransformer.ts
  src/parser/stream/StringCSVParserStream.ts
Due: biome check --no-errors-on-unmatched --apply

refactor: reorder import statements for consistency in CSVLexerTransformer
  src/parser/stream/CSVLexerTransformer.ts
Due: biome check --no-errors-on-unmatched --apply

feat: add WASM binary processing support for improved performance
  src/main.web.ts
  src/parser/models/WASMBinaryCSVParser.ts
  src/parser/stream/WASMBinaryCSVStreamTransformer.ts
  web-csv-toolbox-wasm/Cargo.lock
  web-csv-toolbox-wasm/Cargo.toml
  web-csv-toolbox-wasm/src/csv_json.rs
  web-csv-toolbox-wasm/src/error.rs
  web-csv-toolbox-wasm/src/lib.rs
  web-csv-toolbox-wasm/src/parser.rs
  web-csv-toolbox-wasm/src/tests/basic.rs
  web-csv-toolbox-wasm/src/tests/common.rs
  web-csv-toolbox-wasm/src/tests/mod.rs
  web-csv-toolbox-wasm/src/tests/proptest.rs
  web-csv-toolbox-wasm/src/tests/wasm.rs
Due: biome check --no-errors-on-unmatched --apply, cargo fmt --manifest-path web-csv-toolbox-wasm/Cargo.toml, cargo clippy --manifest-path=./web-csv-toolbox-wasm/Cargo.toml --all-targets --all-features

docs: add WASM binary streaming parser usage guide
  examples/wasm-binary-streaming-parser.md
Due: none

feat: add WASM hybrid approach with Lexer and Assembler
  benchmark/wasm-approach-comparison-simple.ts
  src/main.web.ts
  src/parser/models/WASMBinaryCSVLexer.ts
  src/parser/models/WASMBinaryCSVParser.ts
  src/parser/models/WASMCSVRecordAssembler.ts
  src/parser/stream/WASMBinaryCSVStreamTransformer.ts
  web-csv-toolbox-wasm/src/assembler.rs
  web-csv-toolbox-wasm/src/lexer.rs
  web-csv-toolbox-wasm/src/lib.rs
  web-csv-toolbox-wasm/src/parser.rs
Due: biome check --no-errors-on-unmatched --apply, cargo fmt --manifest-path web-csv-toolbox-wasm/Cargo.toml, cargo clippy --manifest-path=./web-csv-toolbox-wasm/Cargo.toml --all-targets --all-features

test: add flexibility and memory usage tests for WASM approaches
  benchmark/wasm-flexibility-test.ts
  benchmark/wasm-memory-test.ts
Due: biome check --no-errors-on-unmatched --apply

feat: add rust-csv inspired optimized parser implementation
  benchmark/debug-separated.ts
  benchmark/package.json
  benchmark/wasm-approach-comparison.ts
  benchmark/wasm-optimization-comparison.ts
  src/parser/models/WASMBinaryCSVLexer.ts
  src/parser/models/WASMBinaryCSVParser.ts
  src/parser/models/WASMCSVRecordAssembler.ts
  src/parser/stream/WASMBinaryCSVStreamTransformer.ts
  web-csv-toolbox-wasm/src/assembler.rs
  web-csv-toolbox-wasm/src/lexer.rs
  web-csv-toolbox-wasm/src/lib.rs
  web-csv-toolbox-wasm/src/parser.rs
  web-csv-toolbox-wasm/src/parser_optimized.rs
Due: biome check --no-errors-on-unmatched --apply, cargo fmt --manifest-path web-csv-toolbox-wasm/Cargo.toml, cargo clippy --manifest-path=./web-csv-toolbox-wasm/Cargo.toml --all-targets --all-features

feat: add WebGPU-accelerated CSV parser with parallel index construction
  WEBGPU_IMPLEMENTATION.md
  src/parser/webgpu/README.md
  src/parser/webgpu/core/gpu-backend.ts
  src/parser/webgpu/core/types.ts
  src/parser/webgpu/examples/basic-usage.ts
  src/parser/webgpu/index.ts
  src/parser/webgpu/shaders/csv-indexer.wgsl
  src/parser/webgpu/shaders/wgsl.d.ts
  src/parser/webgpu/streaming/stream-parser.ts
  src/parser/webgpu/utils/buffer-utils.test.ts
  src/parser/webgpu/utils/buffer-utils.ts
  src/parser/webgpu/utils/edge-cases.test.ts
  src/parser/webgpu/utils/edge-cases.ts
  src/parser/webgpu/utils/separator-utils.test.ts
  src/parser/webgpu/utils/separator-utils.ts
Due: biome check --no-errors-on-unmatched --apply

feat: integrate WebGPU parser into Engine system with opt-in API
  WEBGPU_ENGINE_INTEGRATION.md
  src/core/types.ts
  src/engine/config/EnginePresets.ts
  src/engine/config/InternalEngineConfig.ts
  src/main.web.ts
Due: biome check --no-errors-on-unmatched --apply

feat: add GPU device lifecycle management and pooling system
  src/core/types.ts
  src/parser/webgpu/index.ts
  src/parser/webgpu/loaders/GPUDevicePool.ts
  src/parser/webgpu/loaders/gpuState.ts
  src/parser/webgpu/loaders/loadGPU.ts
Due: biome check --no-errors-on-unmatched --apply

feat: add policy-based device selection with exclusive type safety
  GPU_DEVICE_SELECTION_API.md
  src/parser/webgpu/index.ts
  src/parser/webgpu/loaders/GPUDevicePool.ts
  src/parser/webgpu/loaders/loadGPU.ts
Due: biome check --no-errors-on-unmatched --apply

refactor: rename GPUDevicePool to GPUDeviceManager
  src/core/types.ts
  src/parser/webgpu/index.ts
  src/parser/webgpu/loaders/GPUDeviceManager.ts
  src/parser/webgpu/loaders/GPUDevicePool.ts
Due: biome check --no-errors-on-unmatched --apply

fix: correct ASCII fast path and bulk copy implementation
  web-csv-toolbox-wasm/src/parser_optimized.rs
Due: cargo fmt --manifest-path web-csv-toolbox-wasm/Cargo.toml, cargo clippy --manifest-path=./web-csv-toolbox-wasm/Cargo.toml --all-targets --all-features

feat: add Worker-compatible GPU options for high-level API
  docs/gpu-worker-api.md
  src/core/types.ts
  src/worker/utils/serializeOptions.ts
Due: biome check --no-errors-on-unmatched --apply

perf: reduce bulk copy overhead by limiting to FieldStart state
  web-csv-toolbox-wasm/src/parser_optimized.rs
Due: cargo fmt --manifest-path web-csv-toolbox-wasm/Cargo.toml, cargo clippy --manifest-path=./web-csv-toolbox-wasm/Cargo.toml --all-targets --all-features

perf(wasm): implement DFA table-driven state machine for optimized parser
  web-csv-toolbox-wasm/src/parser_optimized.rs
Due: cargo fmt --manifest-path web-csv-toolbox-wasm/Cargo.toml, cargo clippy --manifest-path=./web-csv-toolbox-wasm/Cargo.toml --all-targets --all-features

fix(wasm): critical UTF-8 corruption and missing field bugs
  web-csv-toolbox-wasm/src/parser_optimized.rs
  web-csv-toolbox-wasm/src/tests/proptest.rs
  web-csv-toolbox-wasm/src/tests/wasm.rs
Due: cargo fmt --manifest-path web-csv-toolbox-wasm/Cargo.toml, cargo clippy --manifest-path=./web-csv-toolbox-wasm/Cargo.toml --all-targets --all-features

fix(wasm): quoted field delimiter and newline handling bug
  web-csv-toolbox-wasm/src/parser_optimized.rs
Due: cargo fmt --manifest-path web-csv-toolbox-wasm/Cargo.toml, cargo clippy --manifest-path=./web-csv-toolbox-wasm/Cargo.toml --all-targets --all-features

chore: fix linter and format errors
  src/parser/models/WASMBinaryCSVLexer.ts
  src/parser/models/WASMBinaryCSVParser.ts
  src/parser/models/WASMCSVRecordAssembler.ts
  web-csv-toolbox-wasm/src/lexer.rs
  web-csv-toolbox-wasm/src/lib.rs
  web-csv-toolbox-wasm/src/parser_optimized.rs
  web-csv-toolbox-wasm/src/tests/proptest.rs
  web-csv-toolbox-wasm/src/tests/wasm.rs
Due: biome check --no-errors-on-unmatched --apply, cargo fmt --manifest-path web-csv-toolbox-wasm/Cargo.toml, cargo clippy --manifest-path=./web-csv-toolbox-wasm/Cargo.toml --all-targets --all-features

feat: complete WebGPU CSV parser implementation with benchmarks
  benchmark-browser.html
  benchmark-opfs.html
  package.json
  pnpm-lock.yaml
  src/parser/webgpu/core/gpu-backend.ts
  src/parser/webgpu/core/types.ts
  src/parser/webgpu/examples/basic-usage.ts
  src/parser/webgpu/index.ts
  src/parser/webgpu/loaders/GPUDeviceManager.ts
  src/parser/webgpu/loaders/loadGPU.ts
  src/parser/webgpu/shaders/csv-indexer.wgsl
  src/parser/webgpu/shaders/wgsl.d.ts
  src/parser/webgpu/streaming/stream-parser.ts
  src/parser/webgpu/utils/buffer-utils.test.ts
  src/parser/webgpu/utils/buffer-utils.ts
  src/parser/webgpu/utils/edge-cases.test.ts
  src/parser/webgpu/utils/edge-cases.ts
  src/parser/webgpu/utils/separator-utils.test.ts
  src/parser/webgpu/utils/separator-utils.ts
  src/worker/utils/serializeOptions.ts
  tsconfig.base.json
Due: biome check --no-errors-on-unmatched --apply

fix: achieve full JS/WASM interoperability with Property-Based Testing
  benchmark/pbt-findings.md
  benchmark/test-quoted-fields.ts
  benchmark/test-utf8-fix.ts
  src/parser/models/WASMBinaryCSVLexer.ts
  src/parser/models/WASMCSVRecordAssembler.ts
  src/parser/models/pbt-js-vs-wasm.test.ts
  web-csv-toolbox-wasm/src/assembler.rs
  web-csv-toolbox-wasm/src/parser_optimized.rs
Due: biome check --no-errors-on-unmatched --apply, cargo fmt --manifest-path web-csv-toolbox-wasm/Cargo.toml, cargo clippy --manifest-path=./web-csv-toolbox-wasm/Cargo.toml --all-targets --all-features

fix(webgpu): add JavaScript-side quote unescaping and PBT validation
  src/parser/webgpu/debug-cpu-parser.test.ts
  src/parser/webgpu/streaming/stream-parser.equivalence.browser.test.ts
  src/parser/webgpu/streaming/stream-parser.ts
  vite.config.ts
Due: biome check --no-errors-on-unmatched --apply

fix(webgpu): buffer initialization and state management improvements
  src/parser/webgpu/core/gpu-backend.ts
  src/parser/webgpu/streaming/stream-parser.equivalence.browser.test.ts
  src/parser/webgpu/streaming/stream-parser.ts
Due: biome check --no-errors-on-unmatched --apply

refactor(wasm): remove legacy Lexer and Assembler implementations
  src/main.web.ts
  src/parser/api/string/parseStringToArraySyncWASM.main.browser.test.ts
  src/parser/api/string/parseStringToArraySyncWASM.main.node.test.ts
  src/parser/api/string/parseStringToArraySyncWASM.main.node.ts
  src/parser/api/string/parseStringToArraySyncWASM.main.web.ts
  src/parser/api/string/parseStringToArraySyncWASM.shared.test.ts
  src/parser/api/string/parseStringToArraySyncWASM.shared.ts
  src/parser/api/string/parseStringToArraySyncWASM.slim.test.ts
  src/parser/api/string/parseStringToArraySyncWASM.slim.ts
  src/parser/execution/wasm/parseBinaryInWASM.test.ts
  src/parser/models/WASMBinaryCSVLexer.test.ts
  src/parser/models/WASMBinaryCSVLexer.ts
  src/parser/models/WASMCSVArrayRecordAssembler.ts
  src/parser/models/WASMCSVObjectRecordAssembler.ts
  src/parser/models/WASMStringCSVLexer.test.ts
  src/parser/models/WASMStringCSVLexer.ts
  src/parser/models/pbt-js-vs-wasm.test.ts
  src/parser/models/wasm-internal-types.ts
  web-csv-toolbox-wasm/Cargo.lock
  web-csv-toolbox-wasm/Cargo.toml
  web-csv-toolbox-wasm/src/assembler.rs
  web-csv-toolbox-wasm/src/csv_json.rs
  web-csv-toolbox-wasm/src/lexer.rs
  web-csv-toolbox-wasm/src/lib.rs
  web-csv-toolbox-wasm/src/parser_optimized.rs
Due: biome check --no-errors-on-unmatched --apply, cargo fmt --manifest-path web-csv-toolbox-wasm/Cargo.toml, cargo clippy --manifest-path=./web-csv-toolbox-wasm/Cargo.toml --all-targets --all-features

docs(webgpu): update README and algorithm documentation
  .gitignore
  src/parser/webgpu/README.md
  src/parser/webgpu/TWO_PASS_ALGORITHM.md
Due: none

fix(wasm): CRLF line ending and incomplete UTF-8 handling
  src/parser/models/WASMBinaryCSVArrayParser.test.ts
  src/parser/models/WASMStringCSVArrayParser.test.ts
  web-csv-toolbox-wasm/src/parser_optimized.rs
  web-csv-toolbox-wasm/src/tests/line_endings.rs
  web-csv-toolbox-wasm/src/tests/mod.rs
Due: biome check --no-errors-on-unmatched --apply, cargo fmt --manifest-path web-csv-toolbox-wasm/Cargo.toml, cargo clippy --manifest-path=./web-csv-toolbox-wasm/Cargo.toml --all-targets --all-features

perf(wasm): add bulk copy optimization for quoted fields and fix CR/LF handling
  src/parser/models/WASMBinaryCSVArrayParser.ts
  src/parser/models/WASMBinaryCSVParserBase.ts
  src/parser/models/WASMBinaryObjectCSVParser.ts
  src/parser/models/WASMStringCSVArrayParser.test.ts
  src/parser/models/WASMStringCSVArrayParser.ts
  src/parser/models/WASMStringCSVParserBase.ts
  src/parser/models/WASMStringObjectCSVParser.ts
  web-csv-toolbox-wasm/src/parser_optimized.rs
Due: biome check --no-errors-on-unmatched --apply, cargo fmt --manifest-path web-csv-toolbox-wasm/Cargo.toml, cargo clippy --manifest-path=./web-csv-toolbox-wasm/Cargo.toml --all-targets --all-features

refactor(wasm): migrate CSV parser from custom DFA to csv-core library
  config/vite-plugin-wasm-arraybuffer.ts
  config/vite-plugin-wasm-pack.ts
  src/core/types.ts
  src/parser/models/WASMBinaryCSVParserBase.ts
  src/parser/models/WASMStringCSVParserBase.ts
  src/parser/stream/WASMBinaryCSVStreamTransformer.ts
  web-csv-toolbox-wasm/Cargo.lock
  web-csv-toolbox-wasm/Cargo.toml
  web-csv-toolbox-wasm/src/csv_json.rs
  web-csv-toolbox-wasm/src/lib.rs
  web-csv-toolbox-wasm/src/parser.rs
  web-csv-toolbox-wasm/src/parser_optimized.rs
Due: biome check --no-errors-on-unmatched --apply, cargo fmt --manifest-path web-csv-toolbox-wasm/Cargo.toml, cargo clippy --manifest-path=./web-csv-toolbox-wasm/Cargo.toml --all-targets --all-features

refactor(test): unify webgpu-fixture for Node.js and browser environments
  src/__tests__/webgpu/webgpu-fixture.ts
  src/parser/webgpu/indexing/CSVSeparatorIndexingBackend.ts
  src/parser/webgpu/indexing/workgroup-size-validation.browser.test.ts
Due: biome check --no-errors-on-unmatched --apply

refactor: remove deprecated type aliases
  src/core/types.ts
  src/engine/config/EnginePresets.ts
  src/parser/stream/CSVLexerTransformer.ts
Due: biome check --no-errors-on-unmatched --apply

refactor(webgpu): remove deprecated StreamParser
  src/parser/webgpu/streaming/stream-parser.equivalence.browser.test.ts
  src/parser/webgpu/streaming/stream-parser.node.test.ts
  src/parser/webgpu/streaming/stream-parser.ts
  src/parser/webgpu/streaming/test-failing-cases.browser.test.ts
  src/parser/webgpu/two-pass-validation.browser.test.ts
Due: biome check --no-errors-on-unmatched --apply

feat(webgpu): add GPUBinaryCSVLexer and CSVSeparatorIndexer
  src/parser/webgpu/assembly/separatorsToTokens.test.ts
  src/parser/webgpu/assembly/separatorsToTokens.ts
  src/parser/webgpu/indexing/CSVSeparatorIndexer.test.ts
  src/parser/webgpu/indexing/CSVSeparatorIndexer.ts
  src/parser/webgpu/indexing/workgroup-size-invariance.node.test.ts
  src/parser/webgpu/lexer/BinaryCSVLexerTransformer.ts
  src/parser/webgpu/lexer/GPUBinaryCSVLexer.test.ts
  src/parser/webgpu/lexer/GPUBinaryCSVLexer.ts
  src/parser/webgpu/lexer/index.ts
  src/webgpu/utils/workgroupSize.ts
Due: biome check --no-errors-on-unmatched --apply

fix(webgpu): fix auto-header detection and simplify GPU parser
  src/parser/execution/gpu/convertToStandardRecord.test.ts
  src/parser/execution/gpu/convertToStandardRecord.ts
  src/parser/execution/gpu/parseBinaryStreamInGPU.ts
Due: biome check --no-errors-on-unmatched --apply

refactor(webgpu): improve GPU backend and shader implementation
  src/parser/webgpu/indexing/CSVSeparatorIndexingBackend.ts
  src/parser/webgpu/indexing/shaders/csv-indexer-pass1.wgsl
  src/parser/webgpu/indexing/shaders/csv-indexer-pass2.wgsl
  src/parser/webgpu/indexing/types.ts
  src/webgpu/compute/GPUComputeBackend.ts
Due: biome check --no-errors-on-unmatched --apply

test: update FlexibleStringCSVLexer tests
  src/parser/models/FlexibleStringCSVLexer.buffer-overflow.test.ts
  src/parser/models/FlexibleStringCSVLexer.test.ts
  src/parser/models/FlexibleStringCSVLexer.ts
Due: biome check --no-errors-on-unmatched --apply
