Repository kamiazya/web-csv-toolbox: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --no-errors-on-unmatched --apply, cargo fmt --manifest-path web-csv-toolbox-wasm/Cargo.toml, cargo clippy --manifest-path=./web-csv-toolbox-wasm/Cargo.toml --all-targets --all-features

.lintstagedrc.yaml:

'*.{ts,json}':
  - biome check --no-errors-on-unmatched --apply
'*.rs':
  - cargo fmt --manifest-path web-csv-toolbox-wasm/Cargo.toml
  - cargo clippy --manifest-path=./web-csv-toolbox-wasm/Cargo.toml --all-targets --all-features

Add codecov.yml to ignore test declaration files
  codecov.yml
Due: none

Fix codecov.yml
  codecov.yml
Due: none

feat: Improve to accept type parameters as const, eliminating the need to specify a readonly clause
  src/Lexer.ts
  src/LexerTransformer.ts
  src/assertCommonOptions.ts
  src/common/types.ts
  src/escapeField.ts
  src/parse.test-d.ts
  src/parse.ts
  src/parseString.spec.ts
  src/parseString.test-d.ts
  src/parseString.ts
  src/parseStringStream.ts
  src/parseStringStreamToStream.ts
  src/parseStringToArraySync.ts
  src/parseStringToArraySyncWASM.test-d.ts
  src/parseStringToArraySyncWASM.ts
  src/parseStringToIterableIterator.test-d.ts
  src/parseStringToIterableIterator.ts
  src/parseStringToStream.ts
  src/utils/types.ts
Due: biome check --no-errors-on-unmatched --apply

style: Fix import order
  src/parseString.test-d.ts
Due: biome check --no-errors-on-unmatched --apply

Dynamic Type Inference and User-Defined Types from CSV Headers (#329)
  .changeset/quick-hats-tease.md
  codecov.yml
  src/Lexer.ts
  src/LexerTransformer.ts
  src/assertCommonOptions.ts
  src/common/types.ts
  src/constants.ts
  src/escapeField.ts
  src/parse.test-d.ts
  src/parse.ts
  src/parseString.spec.ts
  src/parseString.test-d.ts
  src/parseString.ts
  src/parseStringStream.test-d.ts
  src/parseStringStream.ts
  src/parseStringStreamToStream.test-d.ts
  src/parseStringStreamToStream.ts
  src/parseStringToArraySync.test-d.ts
  src/parseStringToArraySync.ts
  src/parseStringToArraySyncWASM.test-d.ts
  src/parseStringToArraySyncWASM.ts
  src/parseStringToIterableIterator.test-d.ts
  src/parseStringToIterableIterator.ts
  src/parseStringToStream.test-d.ts
  src/parseStringToStream.ts
  src/utils/types.test-d.ts
  src/utils/types.ts
Due: biome check --no-errors-on-unmatched --apply

Create chatty-moles-brush.md
  .changeset/chatty-moles-brush.md
Due: none

Create wicked-yaks-think.md
  .changeset/wicked-yaks-think.md
Due: none

Update concurrency configuration in main.yaml
  .github/workflows/main.yaml
Due: none

Update concurrency configuration in main Workflow
  .changeset/purple-chicken-reply.md
Due: none

Create mighty-mangos-fix.md
  .changeset/mighty-mangos-fix.md
Due: none

Create slimy-suits-agree.md
  .changeset/slimy-suits-agree.md
Due: none

Create silver-knives-hide.md
  .changeset/silver-knives-hide.md
Due: none

Create old-wombats-clap.md
  .changeset/old-wombats-clap.md
Due: none

Create sweet-walls-invite.md
  .changeset/sweet-walls-invite.md
Due: none

Create four-lobsters-watch.md
  .changeset/four-lobsters-watch.md
Due: none

Create eight-peas-end.md
  .changeset/eight-peas-end.md
Due: none

Revert "Version Packages (#298)"
  .changeset/chatty-moles-brush.md
  .changeset/eight-peas-end.md
  .changeset/four-lobsters-watch.md
  .changeset/gorgeous-seals-worry.md
  .changeset/mighty-mangos-fix.md
  .changeset/old-wombats-clap.md
  .changeset/perfect-oranges-hide.md
  .changeset/purple-chicken-reply.md
  .changeset/quick-hats-tease.md
  .changeset/silver-knives-hide.md
  .changeset/sixty-moons-explain.md
  .changeset/slimy-suits-agree.md
  .changeset/sweet-walls-invite.md
  .changeset/thirty-plants-raise.md
  .changeset/violet-hornets-kick.md
  .changeset/wicked-yaks-think.md
  CHANGELOG.md
  package.json
Due: biome check --no-errors-on-unmatched --apply

Revert "Version Packages (#298)" (#343)
  .changeset/chatty-moles-brush.md
  .changeset/eight-peas-end.md
  .changeset/four-lobsters-watch.md
  .changeset/gorgeous-seals-worry.md
  .changeset/mighty-mangos-fix.md
  .changeset/old-wombats-clap.md
  .changeset/perfect-oranges-hide.md
  .changeset/purple-chicken-reply.md
  .changeset/quick-hats-tease.md
  .changeset/silver-knives-hide.md
  .changeset/sixty-moons-explain.md
  .changeset/slimy-suits-agree.md
  .changeset/sweet-walls-invite.md
  .changeset/thirty-plants-raise.md
  .changeset/violet-hornets-kick.md
  .changeset/wicked-yaks-think.md
  CHANGELOG.md
  package.json
Due: biome check --no-errors-on-unmatched --apply

Update dependencies and fix tests
  .changeset/big-garlics-nail.md
  .changeset/flat-ways-study.md
  config/vite-plugin-wasm-base64.ts
  config/vite-plugin-wasm-pack.ts
  config/vite.config.umd.ts
  package.json
  packages/common/package.json
  packages/common/vite.config.ts
  packages/parser/package.json
  packages/parser/src/lib/models/RecordAssembler.test.ts
  packages/parser/src/lib/parseStringToArraySyncWASM.ts
  packages/parser/vite.config.ts
  packages/shared/package.json
  packages/shared/vite.config.ts
  packages/wasm/package.json
  packages/wasm/src/parseStringToArraySync.spec.ts
  packages/wasm/src/parseStringToArraySync.test-d.ts
  packages/wasm/src/wasm.browser.ts
  packages/wasm/src/wasm.ts
  packages/wasm/vite.config.ts
  packages/web-csv-toolbox/package.json
  packages/web-csv-toolbox/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  vite.config.ts
  vitest.config.ts
Due: biome check --no-errors-on-unmatched --apply

chore: Update web-csv-toolbox to use new WASM API
  index.html
  package.json
  vite.config.ts
Due: biome check --no-errors-on-unmatched --apply

Fix format and and types
  .changeset/config.json
  .vscode/settings.json
  benchmark/main.ts
  benchmark/package.json
  biome.json
  config/vite-plugin-wasm-base64.ts
  package.json
  packages/common/package.json
  packages/common/tsconfig.json
  packages/common/vite.config.ts
  packages/parser/package.json
  packages/parser/src/lib/parse.ts
  packages/parser/src/lib/parseString.ts
  packages/parser/src/lib/parseStringToArraySync.test-d.ts
  packages/parser/src/lib/parseStringToIterableIterator.test-d.ts
  packages/parser/src/lib/parseStringToStream.test-d.ts
  packages/parser/tsconfig.json
  packages/parser/vite.config.ts
  packages/shared/package.json
  packages/shared/tsconfig.json
  packages/shared/vite.config.ts
  packages/wasm/package.json
  packages/wasm/src/wasm.browser.ts
  packages/wasm/src/wasm.ts
  packages/wasm/tsconfig.json
  packages/wasm/vite.config.ts
  packages/web-csv-toolbox/package.json
  packages/web-csv-toolbox/tsconfig.json
  packages/web-csv-toolbox/vite.config.ts
  tsconfig.json
  typedoc.json
  vite.config.ts
Due: biome check --no-errors-on-unmatched --apply

Unsupport CJS format
  .changeset/flat-ways-study.md
  package.json
  packages/common/package.json
  packages/common/vite.config.ts
  packages/parser/package.json
  packages/parser/vite.config.ts
  packages/shared/package.json
  packages/shared/vite.config.ts
  packages/wasm/package.json
  packages/wasm/vite.config.ts
  packages/web-csv-toolbox/package.json
  packages/web-csv-toolbox/vite.config.ts
  pnpm-lock.yaml
Due: biome check --no-errors-on-unmatched --apply

Fix vite.config.ts
  config/vite-plugin-wasm-base64.ts
  packages/common/vite.config.ts
  packages/parser/vite.config.ts
  packages/wasm/vite.config.ts
  vite.config.ts
Due: biome check --no-errors-on-unmatched --apply

Move Rust project to packages/wasm
  .github/actions/setup/action.yaml
  .github/dependabot.yml
  .github/workflows/.build.yaml
  .github/workflows/.static-tests.yaml
  biome.json
  package.json
  packages/wasm/.gitignore
  packages/wasm/Cargo.lock
  packages/wasm/Cargo.toml
  packages/wasm/package.json
  packages/wasm/src/lib.rs
  packages/wasm/src/wasm.browser.ts
  packages/wasm/src/wasm.ts
Due: biome check --no-errors-on-unmatched --apply, cargo fmt --manifest-path web-csv-toolbox-wasm/Cargo.toml, cargo clippy --manifest-path=./web-csv-toolbox-wasm/Cargo.toml --all-targets --all-features

Update fast-check dependency to version 3.22.0 and remove @fast-check/vitest
  config/vitest.setup.ts
  package.json
  packages/common/src/lib/utils/assertCommonOptions.spec.ts
  packages/parser/src/lib/models/Lexer.spec.ts
  packages/parser/src/lib/models/LexerTransformer.spec.ts
  packages/parser/src/lib/models/RecordAssembler.spec.ts
  packages/parser/src/lib/models/RecordAssemblerTransformer.spec.ts
  packages/parser/src/lib/parse.spec.ts
  packages/parser/src/lib/parseBinary.spec.ts
  packages/parser/src/lib/parseResponse.spec.ts
  packages/parser/src/lib/parseResponseToStream.spec.ts
  packages/parser/src/lib/parseString.spec.ts
  packages/parser/src/lib/parseStringStream.spec.ts
  packages/parser/src/lib/parseUint8ArrayStream.spec.ts
  packages/wasm/src/parseStringToArraySync.spec.ts
  pnpm-lock.yaml
  tests/utils/helper.ts
Due: biome check --no-errors-on-unmatched --apply

Update typedoc configuration for packages
  .config/typedoc.jsonc
  .config/vitest.setup.ts
  packages/common/typedoc.jsonc
  packages/parser/typedoc.jsonc
  packages/shared/typedoc.jsonc
  packages/wasm/typedoc.jsonc
  packages/web-csv-toolbox/typedoc.jsonc
  typedoc.json
  vite.config.ts
Due: biome check --no-errors-on-unmatched --apply

Move codecov.yml
  .github/codecov.yml
Due: none

Upgrade biome to 1.9.0
  .config/typedoc.jsonc
  biome.json
  package.json
  packages/common/typedoc.jsonc
  packages/parser/typedoc.jsonc
  packages/shared/typedoc.jsonc
  packages/web-csv-toolbox/typedoc.jsonc
  pnpm-lock.yaml
Due: biome check --no-errors-on-unmatched --apply

Update .gitignore to include __screenshots__
  .gitignore
Due: none

Update biome configuration for include and ignore patterns
  biome.json
Due: biome check --no-errors-on-unmatched --apply

Fix tests
  .github/workflows/.dynamic-tests.yaml
  packages/parser/src/lib/parse.spec.ts
  packages/parser/src/lib/parseBinary.spec.ts
  packages/parser/src/lib/parseResponse.spec.ts
  packages/parser/src/lib/parseResponseToStream.spec.ts
  packages/parser/src/lib/parseUint8ArrayStream.spec.ts
  packages/parser/src/lib/utils/getOptionsFromResponse.ts
  packages/shared/src/lib/parseMime.ts
  packages/wasm/src/parseStringToArraySync.browser.spec.ts
  packages/wasm/src/parseStringToArraySync.node.spec.ts
  vite.config.ts
  vitest.workspace.ts
Due: biome check --no-errors-on-unmatched --apply

Update test commands in GitHub workflows
  .github/workflows/.dynamic-tests.yaml
  vite.config.ts
Due: biome check --no-errors-on-unmatched --apply

Update file path in GitHub workflows for wasm build
  .github/workflows/.build.yaml
Due: none

Update GitHub workflows for wasm build artifacts
  .github/workflows/.build.yaml
Due: none

Update artifact name in GitHub workflows for wasm build
  .github/workflows/.build.yaml
Due: none

Update GitHub workflows for wasm build artifacts
  .github/workflows/.build.yaml
  packages/shared/vite.config.ts
Due: biome check --no-errors-on-unmatched --apply

Fix bundle name
  packages/web-csv-toolbox/vite.config.ts
Due: biome check --no-errors-on-unmatched --apply

Migrate benchmark test to vitest from tynybench
  .github/workflows/.dynamic-tests.yaml
  benchmark/main.ts
  benchmark/package.json
  package.json
  packages/common/tsconfig.json
  packages/parser/src/lib/parseBinary.bench.ts
  packages/parser/src/lib/parseString.bench.ts
  packages/parser/tsconfig.json
  packages/shared/tsconfig.json
  packages/wasm/tsconfig.json
  packages/web-csv-toolbox/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tests/utils/data.ts
  vite.config.ts
Due: biome check --no-errors-on-unmatched --apply
