Repository kamiazya/web-csv-toolbox: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, cargo-fmt-clippy

biome-check:
  run: pnpm biome check --no-errors-on-unmatched --apply {staged_files}

cargo-fmt-clippy:
  run: 'cargo fmt --all
  
    cargo clippy --all-targets --all-features
  
    '

docs(webgpu): update WebGPU implementation documentation
  WEBGPU_IMPLEMENTATION.md
  src/parser/webgpu/README.md
Due: none

feat: export GPUBinaryCSVLexer from main entry
  src/main.web.ts
Due: biome-check

refactor(benchmark): update benchmark for new WebGPU architecture
  benchmark/data-generator.ts
  benchmark/main.ts
  benchmark/package.json
  benchmark/webgpu.ts
Due: biome-check

chore(benchmark): update HTML benchmark files
  benchmark-browser.html
  benchmark-opfs.html
  benchmark-two-pass.html
Due: none

chore: update dependencies
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome-check

refactor(wasm): simplify API by making Flat format the standard
  benchmark/test-quoted-fields.ts
  benchmark/test-utf8-fix.ts
  benchmark/truly-flat-benchmark.mjs
  benchmark/wasm-boundary-benchmark.mjs
  benchmark/wasm-boundary-crossing-comparison.ts
  benchmark/wasm-boundary-final-comparison.mjs
  benchmark/wasm-optimization-comparison.ts
  src/parser/models/WASMBinaryCSVParserBase.ts
  src/parser/models/WASMStringCSVParserBase.ts
  src/parser/stream/WASMBinaryCSVStreamTransformer.ts
  web-csv-toolbox-wasm/src/csv_json.rs
  web-csv-toolbox-wasm/src/parser.rs
Due: biome-check, cargo-fmt-clippy

fix(worker): preserve gpuOptions in serializeOptions
  src/worker/utils/serializeOptions.test.ts
  src/worker/utils/serializeOptions.ts
Due: biome-check

fix(wasm): preserve undefined for missing fields in sparse records
  web-csv-toolbox-wasm/src/csv_json.rs
Due: cargo-fmt-clippy

refactor(wasm): split CSVParser API and add fromFlatParseResult wrapper
  src/parser/api/string/parseStringToArraySyncWASM.shared.test.ts
  src/parser/api/string/parseStringToArraySyncWASM.shared.ts
  src/parser/models/WASMBinaryCSVParserBase.ts
  src/parser/models/WASMBinaryObjectCSVParser.ts
  src/parser/models/WASMStringCSVParserBase.ts
  src/parser/models/WASMStringObjectCSVParser.ts
  src/parser/stream/WASMBinaryCSVStreamTransformer.ts
  src/parser/utils/flatToObjects.ts
  web-csv-toolbox-wasm/src/csv_json.rs
  web-csv-toolbox-wasm/src/lib.rs
  web-csv-toolbox-wasm/src/parser.rs
Due: biome-check, cargo-fmt-clippy

fix(wasm): update parse_csv_to_jsvalue to use parse_all API
  web-csv-toolbox-wasm/src/csv_json.rs
Due: cargo-fmt-clippy

refactor(wasm): remove unused parse_csv_to_jsvalue functions
  web-csv-toolbox-wasm/src/csv_json.rs
Due: cargo-fmt-clippy

Revert "Version Packages (#602)"
  .changeset/api-consistency-binary-stream.md
  .changeset/array-buffer-threshold.md
  .changeset/benchmark-consolidation.md
  .changeset/blob-file-request-support.md
  .changeset/brave-dodos-hide.md
  .changeset/bundler-integration-docs.md
  .changeset/ci-workflow-refactoring.md
  .changeset/circular-dependency-elimination.md
  .changeset/discriminated-union-engine-config.md
  .changeset/docs-and-examples.md
  .changeset/engine-presets-rename.md
  .changeset/expand-browser-testing-coverage.md
  .changeset/experimental-performance-tuning.md
  .changeset/main-vs-slim-split.md
  .changeset/parser-model-expansion.md
  .changeset/prototype-pollution-safety-tests.md
  .changeset/rust-dev-environment.md
  .changeset/separate-record-assembler-interfaces.md
  .changeset/typescript-structure-refactoring.md
  .changeset/upgrade-biome.md
  .changeset/upgrade-typescript-typedoc.md
  .changeset/wasm-security-enhancements.md
  CHANGELOG.md
  package.json
Due: biome-check

Revert "Version Packages (#602)" (#608)
  .changeset/api-consistency-binary-stream.md
  .changeset/array-buffer-threshold.md
  .changeset/benchmark-consolidation.md
  .changeset/blob-file-request-support.md
  .changeset/brave-dodos-hide.md
  .changeset/bundler-integration-docs.md
  .changeset/ci-workflow-refactoring.md
  .changeset/circular-dependency-elimination.md
  .changeset/discriminated-union-engine-config.md
  .changeset/docs-and-examples.md
  .changeset/engine-presets-rename.md
  .changeset/expand-browser-testing-coverage.md
  .changeset/experimental-performance-tuning.md
  .changeset/main-vs-slim-split.md
  .changeset/parser-model-expansion.md
  .changeset/prototype-pollution-safety-tests.md
  .changeset/rust-dev-environment.md
  .changeset/separate-record-assembler-interfaces.md
  .changeset/typescript-structure-refactoring.md
  .changeset/upgrade-biome.md
  .changeset/upgrade-typescript-typedoc.md
  .changeset/wasm-security-enhancements.md
  CHANGELOG.md
  package.json
Due: biome-check

fix: add WASM validation and update documentation
  README.md
  config/vite-plugin-resolve-imports.ts
  src/parser/api/binary/parseBinaryToArraySync.ts
  src/parser/execution/wasm/parseBinaryInWASM.ts
  src/parser/utils/wasmValidation.ts
  src/wasm/loaders/loadWASMSync.slim.ts
Due: biome-check

feat(api): add engine option to factory functions and improve WASM validation
  .changeset/wasm-docs-accuracy.md
  README.md
  docs/explanation/execution-strategies.md
  docs/explanation/main-vs-slim.md
  docs/explanation/webassembly-architecture.md
  docs/how-to-guides/parse-csv-data.md
  docs/how-to-guides/worker-pool-management.md
  docs/reference/engine-presets.md
  docs/reference/package-exports.md
  docs/reference/supported-environments.md
  docs/tutorials/using-webassembly.md
  src/core/types.test-d.ts
  src/core/types.ts
  src/engine/config/EnginePresets.test.ts
  src/engine/config/EnginePresets.ts
  src/engine/config/InternalEngineConfig.ts
  src/parser/api/model/createBinaryCSVParser.test.ts
  src/parser/api/model/createBinaryCSVParser.ts
  src/parser/api/model/createCSVRecordAssembler.test.ts
  src/parser/api/model/createCSVRecordAssembler.ts
  src/parser/api/model/createStringCSVLexer.test.ts
  src/parser/api/model/createStringCSVLexer.ts
  src/parser/api/model/createStringCSVParser.test.ts
  src/parser/api/model/createStringCSVParser.ts
  src/parser/execution/wasm/parseBinaryInWASM.ts
  src/parser/execution/wasm/parseStringInWASM.ts
  src/parser/utils/wasmValidation.ts
  src/wasm/loaders/loadWASMSync.slim.ts
  src/worker/utils/serializeOptions.test.ts
Due: biome-check

fix: resolve Deno examples CI failure after version bump
  .github/workflows/.examples.yaml
  examples/deno/main/deno.json
  examples/deno/main/index.ts
  examples/deno/main/setup.ts
  examples/deno/slim/deno.json
  examples/deno/slim/index.ts
  examples/deno/slim/setup.ts
Due: biome-check

fix: use --cached-only flag to prevent npm registry lookups in Deno examples
  examples/deno/main/deno.json
  examples/deno/slim/deno.json
Due: biome-check

fix(wasm): require explicit WASM initialization before using WASM parsers
  config/vite-plugin-resolve-imports.ts
  examples/deno/main/index.ts
  examples/node-main/index.js
  src/parser/execution/wasm/parseStringInWASM.test.ts
  src/parser/models/WASMBinaryCSVParserBase.ts
  src/parser/models/WASMStringCSVParserBase.ts
Due: biome-check

chore(changeset): update to focus on WASM implementation
  .changeset/wasm-binary-processing.md
  .changeset/wasm-docs-accuracy.md
Due: none

fix: resolve Deno examples CI failure after version bump (#610)
  .github/workflows/.examples.yaml
  examples/deno/main/deno.json
  examples/deno/main/index.ts
  examples/deno/main/setup.ts
  examples/deno/slim/deno.json
  examples/deno/slim/index.ts
  examples/deno/slim/setup.ts
Due: biome-check

chore: add changesets for v0.15.0 release
  .changeset/simplified-presets.md
  .changeset/webgpu-parser.md
Due: none

refactor: move lexer files from webgpu/lexer to models and stream
  src/main.web.ts
  src/parser/execution/gpu/parseBinaryStreamInGPU.ts
  src/parser/models/GPUBinaryCSVLexer.test.ts
  src/parser/models/GPUBinaryCSVLexer.ts
  src/parser/stream/BinaryCSVLexerTransformer.ts
  src/parser/webgpu/lexer/index.ts
  src/worker/handlers/parseBinaryStreamHandler.ts
Due: biome-check

feat: add factory functions for stream-based CSV parsing APIs
  .changeset/stream-factory-functions.md
  docs/how-to-guides/custom-csv-parser.md
  src/common.ts
  src/parser/api/stream/createBinaryCSVParserStream.spec.ts
  src/parser/api/stream/createBinaryCSVParserStream.ts
  src/parser/api/stream/createCSVLexerTransformer.spec.ts
  src/parser/api/stream/createCSVLexerTransformer.ts
  src/parser/api/stream/createCSVRecordAssemblerTransformer.spec.ts
  src/parser/api/stream/createCSVRecordAssemblerTransformer.ts
  src/parser/api/stream/createStringCSVParserStream.spec.ts
  src/parser/api/stream/createStringCSVParserStream.ts
  src/parser/stream/BinaryCSVParserStream.ts
  src/parser/stream/CSVLexerTransformer.ts
  src/parser/stream/CSVRecordAssemblerTransformer.ts
  src/parser/stream/StringCSVParserStream.ts
Due: biome-check

refactor: standardize string encoding in CSV parser tests and improve type definitions
  src/parser/api/stream/createBinaryCSVParserStream.spec.ts
  src/parser/api/stream/createBinaryCSVParserStream.ts
  src/parser/api/stream/createStringCSVParserStream.spec.ts
  src/parser/api/stream/createStringCSVParserStream.ts
Due: biome-check

refactor: use shared InferFormat type from core/types
  src/parser/api/stream/createBinaryCSVParserStream.ts
  src/parser/api/stream/createCSVRecordAssemblerTransformer.ts
  src/parser/api/stream/createStringCSVParserStream.ts
Due: biome-check

docs: simplify JSDoc and align API level classification
  .changeset/stream-factory-functions.md
  benchmark/main.ts
  docs/explanation/parsing-architecture.md
  docs/how-to-guides/choosing-the-right-api.md
  docs/how-to-guides/custom-csv-parser.md
  docs/reference/package-exports.md
  src/backpressure.test.ts
  src/common.ts
  src/parser/api/binary/parseBinaryStreamToStream.ts
  src/parser/api/stream/createBinaryCSVParserStream.ts
  src/parser/api/stream/createCSVRecordAssemblerTransformer.ts
  src/parser/api/stream/createStringCSVLexerTransformer.spec.ts
  src/parser/api/stream/createStringCSVLexerTransformer.ts
  src/parser/api/stream/createStringCSVParserStream.ts
  src/parser/api/string/parseStringStreamToStream.ts
  src/parser/stream/CSVRecordAssemblerTransformer.test.ts
  src/parser/stream/CSVRecordAssemblerTransformer.ts
  src/parser/stream/StringCSVLexerTransformer.spec.ts
  src/parser/stream/StringCSVLexerTransformer.test.ts
  src/parser/stream/StringCSVLexerTransformer.ts
  src/worker/helpers/worker.shared.ts
Due: biome-check

fix: correct token generation logic in property-based test
  src/parser/api/stream/createCSVRecordAssemblerTransformer.spec.ts
Due: biome-check

docs: fix custom assembler/lexer example signatures
  docs/how-to-guides/choosing-the-right-api.md
  src/parser/stream/CSVRecordAssemblerTransformer.ts
  src/parser/stream/StringCSVLexerTransformer.ts
Due: biome-check

refactor: rename types for naming consistency
  .changeset/stream-factory-functions.md
  docs/how-to-guides/choosing-the-right-api.md
  src/core/types.ts
  src/parser/api/stream/createStringCSVLexerTransformer.ts
  src/parser/stream/StringCSVLexerTransformer.ts
Due: biome-check

feat: add engine options to model factory functions
  .changeset/stream-factory-functions.md
  src/core/types.ts
  src/parser/api/model/createBinaryCSVParser.ts
  src/parser/api/model/createCSVRecordAssembler.ts
  src/parser/api/model/createStringCSVLexer.ts
  src/parser/api/model/createStringCSVParser.ts
  src/parser/api/stream/createStringCSVLexerTransformer.ts
Due: biome-check

docs: update README to use StringCSVLexerTransformer factory function
  README.md
Due: none

docs: add design intent notes for factory vs class usage
  README.md
  docs/how-to-guides/custom-csv-parser.md
  docs/reference/package-exports.md
Due: none

feat: add factory functions for stream-based CSV parsing APIs (#613)
  .changeset/stream-factory-functions.md
  README.md
  benchmark/main.ts
  docs/explanation/parsing-architecture.md
  docs/how-to-guides/choosing-the-right-api.md
  docs/how-to-guides/custom-csv-parser.md
  docs/reference/package-exports.md
  src/backpressure.test.ts
  src/common.ts
  src/core/types.ts
  src/parser/api/binary/parseBinaryStreamToStream.ts
  src/parser/api/model/createBinaryCSVParser.ts
  src/parser/api/model/createCSVRecordAssembler.ts
  src/parser/api/model/createStringCSVLexer.ts
  src/parser/api/model/createStringCSVParser.ts
  src/parser/api/stream/createBinaryCSVParserStream.spec.ts
  src/parser/api/stream/createBinaryCSVParserStream.ts
  src/parser/api/stream/createCSVRecordAssemblerTransformer.spec.ts
  src/parser/api/stream/createCSVRecordAssemblerTransformer.ts
  src/parser/api/stream/createStringCSVLexerTransformer.spec.ts
  src/parser/api/stream/createStringCSVLexerTransformer.ts
  src/parser/api/stream/createStringCSVParserStream.spec.ts
  src/parser/api/stream/createStringCSVParserStream.ts
  src/parser/api/string/parseStringStreamToStream.ts
  src/parser/stream/BinaryCSVParserStream.ts
  src/parser/stream/CSVRecordAssemblerTransformer.test.ts
  src/parser/stream/CSVRecordAssemblerTransformer.ts
  src/parser/stream/StringCSVLexerTransformer.spec.ts
  src/parser/stream/StringCSVLexerTransformer.test.ts
  src/parser/stream/StringCSVLexerTransformer.ts
  src/parser/stream/StringCSVParserStream.ts
  src/worker/helpers/worker.shared.ts
Due: biome-check

perf: JavaScript parser performance improvements
  .changeset/column-count-strategy-rename.md
  .changeset/lexer-api-changes.md
  .changeset/performance-improvements.md
  benchmark/package.json
  src/core/constants.ts
  src/core/types.test-d.ts
  src/core/types.ts
  src/parser/api/binary/parseBinaryStream.spec.ts
  src/parser/api/binary/parseBinaryStreamToStream.spec.ts
  src/parser/api/model/createCSVRecordAssembler.ts
  src/parser/api/parse.spec.ts
  src/parser/api/string/parseString.spec.ts
  src/parser/api/string/parseStringStream.spec.ts
  src/parser/api/string/parseStringStreamToStream.spec.ts
  src/parser/api/string/parseStringToArraySync.spec.ts
  src/parser/api/string/parseStringToIterableIterator.spec.ts
  src/parser/api/string/parseStringToStream.spec.ts
  src/parser/models/FlexibleBinaryCSVParser.test.ts
  src/parser/models/FlexibleCSVArrayRecordAssembler.ts
  src/parser/models/FlexibleCSVObjectRecordAssembler.ts
  src/parser/models/FlexibleCSVRecordAssembler.array-output.test.ts
  src/parser/models/FlexibleCSVRecordAssembler.field-count-limit.test.ts
  src/parser/models/FlexibleCSVRecordAssembler.object-output.test.ts
  src/parser/models/FlexibleCSVRecordAssembler.spec.ts
  src/parser/models/FlexibleCSVRecordAssembler.test.ts
  src/parser/models/FlexibleStringCSVLexer.buffer-overflow.test.ts
  src/parser/models/FlexibleStringCSVLexer.spec.ts
  src/parser/models/FlexibleStringCSVLexer.test.ts
  src/parser/models/FlexibleStringCSVLexer.ts
  src/parser/models/FlexibleStringCSVParser.test.ts
  src/parser/stream/CSVRecordAssemblerTransformer.spec.ts
  src/parser/stream/StringCSVLexerTransformer.spec.ts
  src/parser/stream/StringCSVLexerTransformer.test.ts
Due: biome-check

fix: update new factory function tests to use unified token format
  src/parser/api/stream/createCSVRecordAssemblerTransformer.spec.ts
  src/parser/api/stream/createStringCSVLexerTransformer.spec.ts
Due: biome-check

style: format code
  src/parser/api/stream/createStringCSVLexerTransformer.spec.ts
Due: biome-check

fix: update test expectations for new parser behavior
  src/parser/api/binary/parseBinaryToIterableIterator.test.ts
  src/parser/api/parse.spec.ts
  src/parser/stream/BinaryCSVParserStream.test.ts
  src/parser/stream/StringCSVParserStream.test.ts
Due: biome-check

Path conditions:
  biome-check: any of: *.{js,ts,json}
  cargo-fmt-clippy: any of: *.rs and ^web\-csv\-toolbox\-wasm/
