Repository kamiazya/web-csv-toolbox: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, cargo-fmt-clippy

biome-check:
  run: pnpm biome check --no-errors-on-unmatched --apply {staged_files}

cargo-fmt-clippy:
  run: 'cargo fmt --all
  
    cargo clippy --all-targets --all-features
  
    '

ci: move type tests from static to dynamic workflow
  .github/workflows/.dynamic-tests.yaml
  .github/workflows/.static-tests.yaml
Due: none

fix: refactor type tests to avoid runtime execution
  src/parseString.test-d.ts
  src/parseStringStream.test-d.ts
  src/parseStringStreamToStream.test-d.ts
  src/parseStringToArraySyncWASM.test-d.ts
Due: biome-check

fix: fix biome linting issues in type tests
  src/parseStringToArraySyncWASM.test-d.ts
Due: biome-check

fix: fix biome formatting in parseStringStreamToStream.test-d.ts
  src/parseStringStreamToStream.test-d.ts
Due: biome-check

fix: fix biome formatting in parseStringStreamToStream.test-d.ts
  src/parseStringStream.test-d.ts
  src/parseStringStreamToStream.test-d.ts
Due: biome-check

fix: apply biome formatting to type test files
  src/parseStringStream.test-d.ts
  src/parseStringStreamToStream.test-d.ts
Due: biome-check

fix: apply correct biome formatting to all type test files
  src/parseString.test-d.ts
  src/parseStringStream.test-d.ts
  src/parseStringStreamToStream.test-d.ts
Due: biome-check

fix: fix remaining biome formatting issues in type tests
  src/parseString.test-d.ts
  src/parseStringStreamToStream.test-d.ts
Due: biome-check

fix: use single-line import for parseString type test
  src/parseString.test-d.ts
Due: biome-check

fix: use import type syntax for parseString type test
  src/parseString.test-d.ts
Due: biome-check

fix: use import type for parseStringStream to avoid WASM runtime errors
  src/parseStringStream.test-d.ts
Due: biome-check

fix: import parseStringStream directly to avoid reference errors
  src/parseStringStream.test-d.ts
Due: biome-check

fix: extract only workerURL and workerPool for WorkerSession.create
  src/execution/worker/parseBinaryInWorker.node.ts
  src/execution/worker/parseBinaryInWorker.web.ts
  src/execution/worker/parseBinaryInWorkerWASM.node.ts
  src/execution/worker/parseBinaryInWorkerWASM.web.ts
  src/execution/worker/parseStreamInWorker.node.ts
  src/execution/worker/parseStreamInWorker.web.ts
  src/execution/worker/parseStringInWorker.node.ts
  src/execution/worker/parseStringInWorker.web.ts
  src/execution/worker/parseStringInWorkerWASM.node.ts
  src/execution/worker/parseStringInWorkerWASM.web.ts
  src/execution/worker/parseUint8ArrayStreamInWorker.node.ts
  src/execution/worker/parseUint8ArrayStreamInWorker.web.ts
Due: biome-check

fix: extract only workerURL and workerPool for WorkerSession.create (#579)
  src/execution/worker/parseBinaryInWorker.node.ts
  src/execution/worker/parseBinaryInWorker.web.ts
  src/execution/worker/parseBinaryInWorkerWASM.node.ts
  src/execution/worker/parseBinaryInWorkerWASM.web.ts
  src/execution/worker/parseStreamInWorker.node.ts
  src/execution/worker/parseStreamInWorker.web.ts
  src/execution/worker/parseStringInWorker.node.ts
  src/execution/worker/parseStringInWorker.web.ts
  src/execution/worker/parseStringInWorkerWASM.node.ts
  src/execution/worker/parseStringInWorkerWASM.web.ts
  src/execution/worker/parseUint8ArrayStreamInWorker.node.ts
  src/execution/worker/parseUint8ArrayStreamInWorker.web.ts
Due: biome-check

ci: add type tests to CI workflow (#578)
  .github/workflows/.dynamic-tests.yaml
  package.json
  src/execution/worker/parseBinaryInWorker.node.ts
  src/execution/worker/parseBinaryInWorker.web.ts
  src/execution/worker/parseBinaryInWorkerWASM.node.ts
  src/execution/worker/parseBinaryInWorkerWASM.web.ts
  src/execution/worker/parseStreamInWorker.node.ts
  src/execution/worker/parseStreamInWorker.web.ts
  src/execution/worker/parseStringInWorker.node.ts
  src/execution/worker/parseStringInWorker.web.ts
  src/execution/worker/parseStringInWorkerWASM.node.ts
  src/execution/worker/parseStringInWorkerWASM.web.ts
  src/execution/worker/parseUint8ArrayStreamInWorker.node.ts
  src/execution/worker/parseUint8ArrayStreamInWorker.web.ts
  src/parseString.test-d.ts
  src/parseStringStream.test-d.ts
  src/parseStringStreamToStream.test-d.ts
  src/parseStringToArraySyncWASM.test-d.ts
  vite.config.ts
Due: biome-check

feat: improve Rust/WASM development environment and add comprehensive tests
  .changeset/rust-dev-environment.md
  .github/workflows/.dynamic-tests.yaml
  .vscode/settings.json
  package.json
  web-csv-toolbox-wasm/.gitignore
  web-csv-toolbox-wasm/Cargo.lock
  web-csv-toolbox-wasm/Cargo.toml
  web-csv-toolbox-wasm/README.md
  web-csv-toolbox-wasm/clippy.toml
  web-csv-toolbox-wasm/pkg/package.json
  web-csv-toolbox-wasm/pkg/web_csv_toolbox_wasm.d.ts
  web-csv-toolbox-wasm/pkg/web_csv_toolbox_wasm.js
  web-csv-toolbox-wasm/pkg/web_csv_toolbox_wasm_bg.wasm
  web-csv-toolbox-wasm/pkg/web_csv_toolbox_wasm_bg.wasm.d.ts
  web-csv-toolbox-wasm/rustfmt.toml
  web-csv-toolbox-wasm/src/lib.rs
Due: biome-check, cargo-fmt-clippy

feat: integrate Rust coverage and benchmarks with Codecov and CodSpeed
  .changeset/rust-dev-environment.md
  .github/workflows/.dynamic-tests.yaml
  package.json
  web-csv-toolbox-wasm/Cargo.lock
  web-csv-toolbox-wasm/Cargo.toml
  web-csv-toolbox-wasm/README.md
  web-csv-toolbox-wasm/benches/csv_parsing.rs
Due: biome-check, cargo-fmt-clippy

fix: format benchmark code to pass rustfmt check
  web-csv-toolbox-wasm/benches/csv_parsing.rs
Due: cargo-fmt-clippy

fix: use working-directory for cargo-codspeed commands
  .github/workflows/.dynamic-tests.yaml
Due: none

fix: improve error handling and security in CI/WASM
  .github/workflows/.dynamic-tests.yaml
  web-csv-toolbox-wasm/src/lib.rs
Due: cargo-fmt-clippy

test: add wasm_bindgen tests for parse_string_to_array_sync
  web-csv-toolbox-wasm/Cargo.lock
  web-csv-toolbox-wasm/Cargo.toml
  web-csv-toolbox-wasm/src/lib.rs
Due: cargo-fmt-clippy

style: format parse_string_to_array_sync function signature
  web-csv-toolbox-wasm/src/lib.rs
Due: cargo-fmt-clippy

refactor: use iterators and zip for JSON record construction
  web-csv-toolbox-wasm/src/lib.rs
Due: cargo-fmt-clippy

security: add permissions blocks to all Dynamic Tests jobs
  .github/workflows/.dynamic-tests.yaml
Due: none

docs: wrap bare URLs in angle brackets in README
  web-csv-toolbox-wasm/README.md
Due: none

feat: improve Rust/WASM development environment and add comprehensive tests (#580)
  .changeset/rust-dev-environment.md
  .github/workflows/.dynamic-tests.yaml
  .vscode/settings.json
  package.json
  web-csv-toolbox-wasm/.gitignore
  web-csv-toolbox-wasm/Cargo.lock
  web-csv-toolbox-wasm/Cargo.toml
  web-csv-toolbox-wasm/README.md
  web-csv-toolbox-wasm/benches/csv_parsing.rs
  web-csv-toolbox-wasm/clippy.toml
  web-csv-toolbox-wasm/pkg/package.json
  web-csv-toolbox-wasm/pkg/web_csv_toolbox_wasm.d.ts
  web-csv-toolbox-wasm/pkg/web_csv_toolbox_wasm.js
  web-csv-toolbox-wasm/pkg/web_csv_toolbox_wasm_bg.wasm
  web-csv-toolbox-wasm/pkg/web_csv_toolbox_wasm_bg.wasm.d.ts
  web-csv-toolbox-wasm/rustfmt.toml
  web-csv-toolbox-wasm/src/lib.rs
Due: biome-check, cargo-fmt-clippy

chore: eliminate circular dependencies and add madge for dependency analysis
  .changeset/circular-dependency-elimination.md
  .github/workflows/.build.yaml
  .gitignore
  package.json
  pnpm-lock.yaml
  src/CSVLexer.buffer-overflow.test.ts
  src/CSVLexer.test.ts
  src/CSVRecordAssembler.field-count-limit.test.ts
  src/common/types.ts
  src/commonParseErrorHandling.spec.ts
  src/parse.ts
  src/parseFileToArray.ts
  src/parseResponseToStream.spec.ts
  src/parseString.ts
  src/parseStringStream.ts
  src/parseStringStreamToStream.ts
  src/parseStringToArraySync.ts
  src/parseStringToArraySyncWASM.ts
  src/parseStringToIterableIterator.ts
  src/parseStringToStream.ts
  src/utils/convertStreamToAsyncIterableIterator.spec.ts
  src/utils/pipeline.spec.ts
  src/utils/types.test-d.ts
  src/utils/types.ts
Due: biome-check

fix: increase browser test timeout to 60 seconds for macOS
  vite.config.ts
Due: biome-check

fix: prevent WASM plugin from handling other plugins' modules
  config/vite-plugin-wasm-pack.ts
Due: biome-check

chore: eliminate circular dependencies and add madge for dependency analysis (#581)
  .changeset/circular-dependency-elimination.md
  .github/workflows/.build.yaml
  .gitignore
  package.json
  pnpm-lock.yaml
  src/CSVLexer.buffer-overflow.test.ts
  src/CSVLexer.test.ts
  src/CSVRecordAssembler.field-count-limit.test.ts
  src/common/types.ts
  src/commonParseErrorHandling.spec.ts
  src/parse.ts
  src/parseFileToArray.ts
  src/parseResponseToStream.spec.ts
  src/parseString.ts
  src/parseStringStream.ts
  src/parseStringStreamToStream.ts
  src/parseStringToArraySync.ts
  src/parseStringToArraySyncWASM.ts
  src/parseStringToIterableIterator.ts
  src/parseStringToStream.ts
  src/utils/convertStreamToAsyncIterableIterator.spec.ts
  src/utils/pipeline.spec.ts
  src/utils/types.test-d.ts
  src/utils/types.ts
Due: biome-check

fix: increase browser test timeout and fix WASM plugin module resolution (#582)
  config/vite-plugin-wasm-pack.ts
  vite.config.ts
Due: biome-check

chore: add changeset
  .changeset/upgrade-biome.md
Due: none

chore: upgrade TypeScript to 5.9.3 and typedoc to 0.28.14 with strict type checking
  package.json
  pnpm-lock.yaml
  src/CSVLexer.ts
  src/CSVRecordAssembler.ts
  src/__tests__/helper.ts
  src/common/errors.ts
  src/common/types.ts
  src/execution/InternalEngineConfig.ts
  src/execution/worker/helpers/ReusableWorkerPool.ts
  src/execution/worker/helpers/TransientWorkerPool.ts
  src/execution/worker/helpers/WorkerSession.ts
  src/execution/worker/helpers/worker.shared.ts
  src/execution/worker/utils/messageHandler.ts
  src/parseUint8ArrayStreamToStream.ts
  src/utils/convertBinaryToString.ts
  src/utils/parseMime.ts
  tsconfig.json
Due: biome-check

docs: enhance TypeDoc configuration and add YAML frontmatter to all documentation
  .changeset/upgrade-typescript-typedoc.md
  docs/explanation/execution-strategies.md
  docs/explanation/package-exports.md
  docs/explanation/parsing-architecture.md
  docs/explanation/security-model.md
  docs/explanation/webassembly-architecture.md
  docs/explanation/worker-pool-architecture.md
  docs/how-to-guides/choosing-the-right-api.md
  docs/how-to-guides/custom-csv-parser.md
  docs/how-to-guides/platform-usage/README.md
  docs/how-to-guides/platform-usage/browser/drag-and-drop.md
  docs/how-to-guides/platform-usage/browser/fetch.md
  docs/how-to-guides/platform-usage/browser/file-input.md
  docs/how-to-guides/platform-usage/browser/formdata.md
  docs/how-to-guides/platform-usage/deno/fetch.md
  docs/how-to-guides/platform-usage/deno/open.md
  docs/how-to-guides/platform-usage/deno/readfile.md
  docs/how-to-guides/platform-usage/nodejs/buffer.md
  docs/how-to-guides/platform-usage/nodejs/fs-stream.md
  docs/how-to-guides/platform-usage/nodejs/http.md
  docs/how-to-guides/platform-usage/nodejs/stdin-stdout.md
  docs/how-to-guides/secure-csv-processing.md
  docs/how-to-guides/use-with-bundlers.md
  docs/how-to-guides/wasm-performance-optimization.md
  docs/reference/engine-config.md
  docs/reference/engine-presets.md
  docs/reference/package-exports.md
  docs/reference/supported-environments.md
  docs/reference/versioning-policy.md
  docs/tutorials/getting-started.md
  docs/tutorials/using-webassembly.md
  docs/tutorials/working-with-workers.md
  typedoc.json
Due: biome-check

test: add comprehensive tests for undefined checks in TypeScript 5.9 strict mode
  src/CSVLexer.undefined-check.test.ts
  src/execution/worker/helpers/ReusableWorkerPool.undefined-check.test.ts
  src/utils/parseMime.spec.ts
  src/utils/parseMime.ts
Due: biome-check

fix: correct test description for CSVLexer unquoted field parsing
  src/CSVLexer.undefined-check.test.ts
Due: biome-check

refactor: remove redundant nullish coalescing with undefined in CSVLexer
  src/CSVLexer.ts
Due: biome-check

Path conditions:
  biome-check: any of: *.{js,ts,json}
  cargo-fmt-clippy: any of: *.rs and ^web\-csv\-toolbox\-wasm/
