Repository kamiazya/web-csv-toolbox: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, cargo-fmt-clippy

biome-check:
  run: pnpm biome check --no-errors-on-unmatched --apply {staged_files}

cargo-fmt-clippy:
  run: 'cargo fmt --all
  
    cargo clippy --all-targets --all-features
  
    '

Create perfect-oranges-hide.md
  .changeset/perfect-oranges-hide.md
Due: none

Refactor to intagrate CI/CD workflow
  .github/workflows/cd.yaml
  .github/workflows/main.yaml
Due: none

Add setup composite action and refactor workflow
  .github/actions/setup/action.yaml
  .github/workflows/.build.yaml
  .github/workflows/main.yaml
  .github/workflows/pr-snapshot-release.yaml
Due: none

Refactor workflow to integrate CI/CD and skip Rust setup
  .github/workflows/main.yaml
Due: none

Refactor workflow to integrate CI/CD
  .github/workflows/.build.yaml
  .github/workflows/.dynamic-tests.yaml
  .github/workflows/.release.yaml
  .github/workflows/.static-tests.yaml
  .github/workflows/main.yaml
Due: none

Fix workflow
  .github/workflows/.release.yaml
Due: none

Remove unused GITHUB_TOKEN secret from workflow
  .github/workflows/main.yaml
Due: none

Add dependency on build job in main workflow
  .github/workflows/main.yaml
Due: none

Fix to download archifact before runnning tests
  .github/workflows/.dynamic-tests.yaml
Due: none

Update Node.js setup action
  .github/actions/setup/action.yaml
Due: none

Remove duplicated pnpm setup action
  .github/actions/setup/action.yaml
Due: none

Create violet-hornets-kick.md
  .changeset/violet-hornets-kick.md
Due: none

add tests for rust
  web-csv-toolbox-wasm/Cargo.lock
  web-csv-toolbox-wasm/Cargo.toml
  web-csv-toolbox-wasm/src/lib.rs
Due: cargo-fmt-clippy

Add wasm testing
  .github/workflows/.dynamic-tests.yaml
  web-csv-toolbox-wasm/Cargo.lock
  web-csv-toolbox-wasm/Cargo.toml
  web-csv-toolbox-wasm/package.json
  web-csv-toolbox-wasm/tests/node.rs
  web-csv-toolbox-wasm/tests/web.rs
Due: biome-check, cargo-fmt-clippy

Not to skip Rust setup in browser testing
  .github/workflows/.dynamic-tests.yaml
Due: none

Skip C++ setup on windows runner
  .github/actions/setup/action.yaml
Due: none

Update C++ setup condition
  .github/actions/setup/action.yaml
Due: none

Create eighty-eagles-greet.md
  .changeset/eighty-eagles-greet.md
Due: none

Refactor CI/CD workflow (#302)
  .changeset/violet-hornets-kick.md
  .github/actions/setup/action.yaml
  .github/workflows/.build.yaml
  .github/workflows/.dynamic-tests.yaml
  .github/workflows/.release.yaml
  .github/workflows/.static-tests.yaml
  .github/workflows/main.yaml
  .github/workflows/pr-snapshot-release.yaml
Due: none

Support handling of signal aborts during lexing operations
  src/Lexer.test.ts
  src/Lexer.ts
  src/common/types.ts
Due: biome-check

Support handling of signal aborts during record assembling operations
  src/RecordAssembler.test.ts
  src/RecordAssembler.ts
  src/common/types.ts
Due: biome-check

Fix test for abort error message environment difference
  src/Lexer.test.ts
  src/RecordAssembler.test.ts
Due: biome-check

Add test for timeout
  src/Lexer.test.ts
  src/RecordAssembler.test.ts
Due: biome-check

Add docs for supporting aborting operations
  README.md
Due: none

Add doc comment for signal option
  src/common/types.ts
Due: biome-check

Support AbortSignal
  .changeset/thirty-plants-raise.md
Due: none

Add WASM testing
  .changeset/modern-rice-own.md
  .github/actions/setup/action.yaml
  .github/workflows/.dynamic-tests.yaml
  web-csv-toolbox-wasm/Cargo.lock
  web-csv-toolbox-wasm/Cargo.toml
  web-csv-toolbox-wasm/package.json
  web-csv-toolbox-wasm/tests/node.rs
  web-csv-toolbox-wasm/tests/web.rs
Due: biome-check, cargo-fmt-clippy

Remove unnecessary processes for convertIterableIteratorToAsync function
  .changeset/gorgeous-seals-worry.md
  src/utils/convertIterableIteratorToAsync.ts
Due: biome-check

Improved the order of key features in the document to make it easier to read
  README.md
Due: none

Remove ci
  .github/workflows/ci.yaml
Due: none

Remove ci (#316)
  .github/workflows/ci.yaml
Due: none

remove vitest typecheck
  vite.config.ts
Due: biome-check

fix type check
  src/parseString.spec.ts
Due: biome-check

Support AbortSignal / AbortController (#312)
  .changeset/thirty-plants-raise.md
  README.md
  src/Lexer.test.ts
  src/Lexer.ts
  src/RecordAssembler.test.ts
  src/RecordAssembler.ts
  src/common/types.ts
Due: biome-check

Remove unnecessary processes for convertIterableIteratorToAsync function (#314)
  .changeset/gorgeous-seals-worry.md
  src/utils/convertIterableIteratorToAsync.ts
Due: biome-check

Remove InvalidOptionError class
  .changeset/sixty-moons-explain.md
  src/LexerTransformer.test.ts
  src/assertCommonOptions.spec.ts
  src/assertCommonOptions.ts
  src/common/errors.spec.ts
  src/common/errors.ts
  src/commonParseErrorHandling.spec.ts
  src/commonParseErrorHandling.ts
  src/parseBinaryToArraySync.test.ts
  src/parseBinaryToIterableIterator.spec.ts
  src/parseBinaryToStream.spec.ts
  src/parseResponse.spec.ts
  src/parseResponseToStream.spec.ts
  src/parseString.spec.ts
  src/parseStringToArraySyncWASM.spec.ts
  src/parseStringToArraySyncWASM.ts
Due: biome-check

Resolve failed resovation of conflict in Lexer.ts
  src/Lexer.ts
Due: biome-check

Add changeset
  .changeset/quick-hats-tease.md
Due: none

Refactor test code to remove inline snapshot comments
  src/parseBinaryToArraySync.test.ts
  src/parseBinaryToIterableIterator.spec.ts
  src/parseBinaryToStream.spec.ts
Due: biome-check

Imorove tsdoc example code
  src/utils/types.ts
Due: biome-check

Path conditions:
  biome-check: any of: *.{js,ts,json}
  cargo-fmt-clippy: any of: *.rs and ^web\-csv\-toolbox\-wasm/
