Repository kamiazya/web-csv-toolbox: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, cargo-fmt-clippy

lefthook.yml:

pre-push:
  commands:
    packages-audit:
      tags: npm security
      run: pnpm audit

pre-commit:
  parallel: true
  commands:
    biome-check:
      glob: "*.{js,ts,json}"
      run: pnpm biome check --no-errors-on-unmatched --apply {staged_files}
    cargo-fmt-clippy:
      glob: "*.rs"
      root: web-csv-toolbox-wasm/
      run: |
        cargo fmt --all
        cargo clippy --all-targets --all-features

refactor: remove unreachable undefined check in parseMime
  src/utils/parseMime.ts
Due: biome-check

fix: use TypeError for invalid content type in parseMime
  src/utils/parseMime.spec.ts
  src/utils/parseMime.ts
Due: biome-check

refactor: fix EnginePresets.fastest() calls in docs and improve code formatting
  docs/how-to-guides/wasm-performance-optimization.md
  src/execution/InternalEngineConfig.ts
  src/execution/worker/helpers/worker.shared.ts
  src/parseUint8ArrayStreamToStream.ts
  src/utils/convertBinaryToString.ts
Due: biome-check

fix: resolve security vulnerabilities in dev dependencies
  package.json
  pnpm-lock.yaml
Due: biome-check

fix: resolve security vulnerabilities in dev dependencies (#585)
  package.json
  pnpm-lock.yaml
Due: biome-check

feat(wasm): add input size validation and source option for error reporting
  src/parseStringToArraySyncWASM.ts
  web-csv-toolbox-wasm/src/lib.rs
Due: biome-check, cargo-fmt-clippy

refactor(wasm): fix Clippy needless_borrow warnings in tests
  web-csv-toolbox-wasm/src/lib.rs
Due: cargo-fmt-clippy

style(wasm): apply cargo fmt formatting
  web-csv-toolbox-wasm/src/lib.rs
Due: cargo-fmt-clippy

chore: add changeset for WASM security enhancements
  .changeset/wasm-security-enhancements.md
Due: none

chore: remove test coverage section from WASM security enhancements documentation
  .changeset/wasm-security-enhancements.md
Due: none

feat(wasm): add input size validation and source option for error reporting (#586)
  .changeset/wasm-security-enhancements.md
  src/parseStringToArraySyncWASM.ts
  web-csv-toolbox-wasm/src/lib.rs
Due: biome-check, cargo-fmt-clippy

fix: make apt-get install non-interactive in CI
  .github/actions/setup-rust/action.yaml
Due: none

chore: refactor CI workflows to separate TypeScript and Rust environments
  .changeset/ci-workflow-refactoring.md
  .github/actions/setup-full/action.yaml
  .github/actions/setup-rust/action.yaml
  .github/actions/setup-typescript/action.yaml
  .github/actions/setup/action.yaml
  .github/workflows/.build.yaml
  .github/workflows/.dynamic-tests.yaml
  .github/workflows/.static-tests.yaml
Due: none

fix: match artifact upload/download structure with original workflow
  .github/workflows/.build.yaml
Due: none

fix: pin taiki-e/install-action to specific commit hash
  .github/actions/setup-rust/action.yaml
Due: none

refactor: use taiki-e/install-action for wasm-pack installation
  .github/actions/setup-rust/action.yaml
Due: none

refactor: simplify Node.js version setup logic
  .github/actions/setup-typescript/action.yaml
Due: none

fix: download all artifacts in dynamic tests workflow
  .github/workflows/.dynamic-tests.yaml
Due: none

chore: refactor CI workflows to separate TypeScript and Rust environments (#588)
  .changeset/ci-workflow-refactoring.md
  .github/actions/setup-full/action.yaml
  .github/actions/setup-rust/action.yaml
  .github/actions/setup-typescript/action.yaml
  .github/actions/setup/action.yaml
  .github/workflows/.build.yaml
  .github/workflows/.dynamic-tests.yaml
  .github/workflows/.static-tests.yaml
Due: none

feat(wasm): add binary processing, property-based testing, and worker support
  benchmark/package.json
  benchmark/streaming-performance.ts
  examples/README.md
  examples/non-blocking-demo.html
  examples/wasm-streaming-parser.md
  src/WASMBinaryCSVStreamTransformer.browser.spec.ts
  src/WASMBinaryCSVStreamTransformer.ts
  src/WASMCSVStreamTransformer.browser.spec.ts
  src/WASMCSVStreamTransformer.browser.test.ts
  src/WASMCSVStreamTransformer.ts
  src/execution/worker/helpers/worker.shared.ts
  src/execution/worker/parseUint8ArrayStreamInWorkerWASM.node.ts
  src/execution/worker/parseUint8ArrayStreamInWorkerWASM.web.ts
  src/web-csv-toolbox.ts
  tsconfig.json
  web-csv-toolbox-wasm/Cargo.lock
  web-csv-toolbox-wasm/Cargo.toml
  web-csv-toolbox-wasm/proptest-regressions/lib.txt
  web-csv-toolbox-wasm/src/lib.rs
Due: biome-check, cargo-fmt-clippy

test: expand property-based testing coverage
  src/WASMBinaryCSVStreamTransformer.browser.spec.ts
  src/__tests__/helper.ts
  web-csv-toolbox-wasm/src/lib.rs
Due: biome-check, cargo-fmt-clippy

style: fix linting issues in test files
  src/WASMBinaryCSVStreamTransformer.browser.spec.ts
Due: biome-check

refactor: unify TypeScript type definitions and constants
  .gitignore
  src/CSVLexer.ts
  src/CSVRecordAssembler.ts
  src/__tests__/helper.ts
  src/common/types.ts
  src/constants.ts
  src/utils/convertBinaryToString.ts
Due: biome-check

fix: update release workflow to use setup-typescript action
  .github/workflows/.release.yaml
Due: none

fix: update release workflow to use setup-typescript action (#593)
  .github/workflows/.release.yaml
Due: none

fix: resolve node-version warning in setup-typescript action
  .github/actions/setup-typescript/action.yaml
Due: none

fix: resolve node-version warning in setup-typescript action (#594)
  .github/actions/setup-typescript/action.yaml
Due: none

refactor: improve TypeScript configuration structure for better DX
  benchmark/tsconfig.json
  package.json
  src/parser/api/string/parseStringToArraySyncWASM.test-d.ts
  tsconfig.base.json
  tsconfig.src.json
  tsconfig.test.json
Due: biome-check

docs: update changeset with TypeScript config improvements and test fixes
  .changeset/typescript-structure-refactoring.md
Due: none

style: apply biome formatting to parseStringToArraySync.test-d.ts
  src/parser/api/string/parseStringToArraySync.test-d.ts
Due: biome-check

refactor: rename core classes and establish interface-implementation pattern
  .changeset/prototype-pollution-safety-tests.md
  .changeset/typescript-structure-refactoring.md
  src/backpressure.test.ts
  src/parser/api/binary/parseUint8ArrayStreamToStream.ts
  src/parser/api/string/parseStringStreamToStream.ts
  src/parser/api/string/parseStringToArraySync.ts
  src/parser/api/string/parseStringToIterableIterator.ts
  src/parser/api/string/parseStringToStream.ts
  src/parser/models/DefaultCSVRecordAssembler.ts
  src/parser/models/DefaultStringCSVLexer.ts
  src/parser/models/FlexibleCSVRecordAssembler.field-count-limit.test.ts
  src/parser/models/FlexibleCSVRecordAssembler.prototype-safety.test.ts
  src/parser/models/FlexibleCSVRecordAssembler.spec.ts
  src/parser/models/FlexibleCSVRecordAssembler.test.ts
  src/parser/models/FlexibleCSVRecordAssembler.ts
  src/parser/models/FlexibleStringCSVLexer.buffer-overflow.test.ts
  src/parser/models/FlexibleStringCSVLexer.spec.ts
  src/parser/models/FlexibleStringCSVLexer.test.ts
  src/parser/models/FlexibleStringCSVLexer.ts
  src/parser/models/FlexibleStringCSVLexer.undefined-check.test.ts
  src/parser/stream/CSVLexerTransformer.spec.ts
  src/parser/stream/CSVLexerTransformer.test.ts
  src/parser/stream/CSVRecordAssemblerTransformer.test.ts
  src/wasm/loadWASM.ts
  src/web-csv-toolbox.ts
  src/worker/helpers/worker.shared.ts
  vite.config.ts
Due: biome-check

fix(ci): ensure WASM package is available in node_modules before TypeScript build
  .github/workflows/.build.yaml
Due: none

fix(tsconfig): disable exactOptionalPropertyTypes for test files
  tsconfig.json
  tsconfig.test.json
Due: biome-check

fix: resolve TypeScript strict type checking errors in test files
  src/converters/iterators/convertStreamToAsyncIterableIterator.spec.ts
  src/parser/api/file/parseFile.spec.ts
  src/parser/api/parse.spec.ts
  src/parser/models/FlexibleCSVRecordAssembler.prototype-safety.test.ts
  src/worker/utils/workerUtils.test.ts
Due: biome-check
